<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('../partials/nav') %>

<h1>Your Flight</h1>
<h2>Flight #<%= flight.flightNo %></h2>
<h3><%= flight.airline %></h3>
<h3><%= flight.airport %></h3>
<h3><%= flight.departs %></h3>

<%- include('../partials/footer') %> 